body{
    background-color: rgb(211, 255, 254);
}

h1{
    color: blue;
    background-color: rgb(253, 194, 255);
    font-family:'Arial Black', Gadget, sans-serif;
}
p{
    color: rgb(74, 0, 130);
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(255, 21, 173);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    float: left;
    margin: 0 20px;
}
img {
    border: 3px black dashed;
    border-color: rgb(255, 72, 209);
    border-width: 6px;
}
footer{
    background-color: rgb(253, 194, 255);
    color: rgb(74, 0, 130);
    font-family: 'Arial Black', Gadget, sans-serif;
    padding: 10px;
    margin-top: 10px;
}